* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}

.phone .container {
  margin: 0 auto;
}
.container .header {
  background: rgb(255, 255, 255);
  border: solid 1px black;
  padding: 8px 8px 8px 8px;
  align-content: center;
  display: flex;
  justify-content: space-between;
}

.header .box1 {
  border: 1px black solid;
}

.header .box2 {
  border: 1px black solid;
}
.box2 .small_mobbyn {
  display: none;
}

.tiltle {
  text-align: center;
  padding: 32px 2px 32px 8px;
  border: 1px solid black;
  align-content: center;
  background-color: white;
}

.tiltle .box_tiltle {
  border: 1px solid black;
  width: 25%;
  margin: auto;
  margin-top: 39px;
  text-align: center;
}
.main {
  padding: 8px;
}

.main .tiltle_main {
  text-align: center;
  padding: 32px 8px 32px 8px;
  border: 1px solid black;
  align-content: center;
  background-color: white;
  margin-top: 20px;
}

.tiltle_main .box_tiltle_main {
  border: 1px solid black;
  width: 25%;
  margin: auto;
  margin-top: 39px;
  text-align: center;
}

 .container1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  border: 1px solid black;
}

.container1 .one {
  text-align: center;
  flex: 1 0 99.8%;
  border: 1px solid black;
}

.container1 .two {
  text-align: center;
  flex: 1 0 32.8%;
  border: 1px solid black;
}

.container1 .three {
  text-align: center;
  flex: 1 0 62.3%;
  border: 1px solid black;
}

.container1 .four {
  text-align: center;
  flex: 1 0 32.8%;
  border: 1px solid black;
}

.container1 .five {
  text-align: center;
  flex: 1 0 62.3%;
  border: 1px solid black;
}

.container1 .six {
  text-align: center;
  flex: 1 0 32.8%;
  border: 1px solid black;
}

.container1 .seven {
  text-align: center;
  flex: 1 0 62.3%;
  border: 1px solid black;
}

.container1 .eight {
  display: none;
}

.container1 .nine {
  display: none;
}

.container1 .ten {
  display: none;
}

.container1 .eleven {
  display: none;
}

.container1 .twelve {
  display: none;
}

.container1 .thirteen {
  display: none;
}

.container1 .fourteen {
  display: none;
}

.container1 .fifteen {
  display: none;
}

.container1 .sixteen {
  display: none;
}

.container1 .seventeen {
  display: none;
}

.container1 .eighteen {
  display: none;
}

.container1 .nineteen {
  display: none;
}

.container1 .twenty {
  display: none;
}

.article {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 16px 16px;
  justify-content: center;
  align-items: center;
}

.article .mobbyn {
  display: flex;
  border: 1px solid black;
  margin-top: 8px;
  justify-content: space-around;
  width: fit-content;
}

.mobbyn .small_mobbyn {
  text-align: center;
  border: 1px solid black;
  margin: 8px;
  width: 40px;
}

.footer {
  text-align: left;
  margin: 16px 19px;
}

.footer h1 {
  height: 38px;
  line-height: 23px;
  letter-spacing: 0.15px;
}

/*tablet*/

@media (min-width: 600px) and (max-width: 768px) {
  .header .box2 {
    display: flex;
    border: 1px solid black;
    margin-top: 8px;
    justify-content: space-around;
    width: fit-content;
  }

  .box2 .small_mobbyn {
    border: 1px solid black;
    display: flex;
    margin: 8px;
    width: 40px;
  }

  .tiltle {
    padding-left: 10%;
    text-align: left;
  }

  .tiltle .box_tiltle {
    margin-left: 0;
  }

  .main .tiltle_main {
    text-align: left;
    display: flex;
  }

  .main .tiltle_main .box_tiltle_main {
    margin-right: 0;
    margin-top: 0;
  }

  .container1 {
    display: flex;
    flex-wrap: wrap;
  }

  .container1 .one {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 35%;
  }

  .container1 .two {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 13%;
  }

  .container1 .three {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 35%;
  }

  .container1 .four {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 13%;
  }

  .container1 .five {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 35%;
    display: block;
  }

  .container1 .six {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 13%;
    display: block;
  }

  .container1 .seven {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 35%;
    display: block;
  }

  .container1 .eight {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 13%;
    display: block;
  }

  .container1 .nine {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 35%;
    display: block;
  }

  .container1 .ten {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 49%;
    display: block;
  }

  .container1 .eleven {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 13%;
    display: block;
  }

  .container1 .twelve {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 35%;
    display: block;
  }

  .container1 .thirteen {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 13%;
    display: block;
  }

  .container1 .fourteen {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 49%;
    display: block;
  }

  .container1 .fifteen {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 35%;
    display: block;
  }

  .container1 .sixteen {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 63%;
    display: block;
  }

  .container1 .seventeen {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 35%;
    display: block;
  }

  .container1 .eighteen {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 13%;
    display: block;
  }

  .container1 .nineteen {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 35%;
    display: block;
  }

  .container1 .twenty {
    text-align: center;
    border: 1px solid black;
    flex: 1 0 13%;
    display: block;
  }

  .article {
      align-items: flex-start;
  }

}

